
<ul>
  <li class="pointer shadow" id="zoom-in">
    <svg class="map-tool-icon">
      <use xlink:href="#icon-plus">
        <svg fill="#555" id="icon-plus" viewBox="0 0 1024 1024">
          <title>Zoom In</title>
          <path d="M573.44 245.76h-122.88v204.8h-204.8v122.88h204.8v204.8h122.88v-204.8h204.8v-122.88h-204.8v-204.8z" class="path1"></path>
        </svg>
      </use>
    </svg>
    <!-- <span class="tooltipmap tooltipmap2 left"> ZOOM IN </span> -->
  </li>

  <li class="pointer shadow" id="map-default">
    <svg class="map-tool-icon">
      <svg fill="#555" id="icon-minus" viewBox="-4 -4 32 32">
        <title>Default</title>
        <path d="M 12 2 A 1 1 0 0 0 11.289062 2.296875 L 1.203125 11.097656 A 0.5 0.5 0 0 0 1 11.5 A 0.5 0.5 0 0 0 1.5 12 L 4 12 L 4 20 C 4 20.552 4.448 21 5 21 L 9 21 C 9.552 21 10 20.552 10 20 L 10 14 L 14 14 L 14 20 C 14 20.552 14.448 21 15 21 L 19 21 C 19.552 21 20 20.552 20 20 L 20 12 L 22.5 12 A 0.5 0.5 0 0 0 23 11.5 A 0.5 0.5 0 0 0 22.796875 11.097656 L 12.716797 2.3027344 A 1 1 0 0 0 12.710938 2.296875 A 1 1 0 0 0 12 2 z"/>
      </svg>
    </svg>
    <!-- <span class="tooltipmap tooltipmap4 left"> DEFAULT</span> -->
  </li>

  <li class="pointer shadow" id="zoom-out">
    <svg class="map-tool-icon">
      <svg fill="#555" id="icon-minus" viewBox="0 0 1024 1024">
        <title>Zoom Out</title>
        <path d="M778.24 573.44h-532.48v-122.88h532.48v122.88z" class="path1"></path>
      </svg>
    </svg>
    <!-- <span class="tooltipmap tooltipmap4 left"> ZOOM OUT</span> -->
  </li>
  <!-- <li class="show-hide pointer shadow" id="full-screen">
    <svg class="map-tool-icon">
      <svg fill="#555" id="icon-controlstoggle__on" viewBox="-50 -50 400 400">
        <title>Full Screen</title>
        <g>
          <g>
            <polygon points="42.667,192 0,192 0,298.667 106.667,298.667 106.667,256 42.667,256 			"/>
            <polygon points="0,106.667 42.667,106.667 42.667,42.667 106.667,42.667 106.667,0 0,0 			"/>
            <polygon points="192,0 192,42.667 256,42.667 256,106.667 298.667,106.667 298.667,0 			"/>
            <polygon points="256,256 192,256 192,298.667 298.667,298.667 298.667,192 256,192 			"/>
          </g>
        </g>
      </svg>
    </svg>
    <span class="tooltipmap tooltipmap7 left"> FULL SCREEN</span>
  </li> -->

</ul>
