{% extends 'base.html'%}
{% load i18n %}

    {% block body%}
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">{% trans 'ABOUT' %}</h2>
        </div>
      </div>
    </section>

    <section class="method-lists">
      <div class="container">
        <div class="col-lg-12 col-md-6">
          <h1>{% trans 'ABOUT' %}</h1>
        </div>
        <div class="col-lg-12 margin-top">
          <p>{% trans 'About content' %}</p>
        </div>
      </div>
    </section>
    <hr>

    <!-- <section class="method-lists">
      <div class="container">
        <div class="col-lg-12 col-md-6">
          <h1>{% trans 'OBJECTIVES</h1>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-4 col-md-6 content-item">
            <p>{% trans 'To increase the availability of vulnerability data that identifies locations, dimensions, and degree of multidimensional vulnerability in Cambodia.</p>
          </div>


          <div class="col-lg-4 col-md-6 content-item">
            <p>{% trans 'To enhance the government’s use, understanding, and application of vulnerability data to guide policies, social programmes, and interventions.</p>
          </div>

          <div class="col-lg-4 col-md-6 content-item">
            <p>{% trans 'To improve access to comprehensive vulnerability data for non-governmental organizations (NGOs) and civil society organizations (CSOs) in Cambodia to guide their work</p>
          </div>

        </div>
      </div>
    </section>
<hr> -->

    {% comment %} <section class="method-lists">
      <div class="container">
        <div class="col-lg-12 col-md-6">
          <h1>{% trans 'ORGANIZATIONS INVOLVED' %}</h1>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-lg-3 col-md-6 icon-box text-center" data-aos="fade-up">
            <img src="/static/images/partners/sig.png" alt="" style="width:100%;">
          </div>
          <div class="col-lg-2 col-md-6 icon-box text-center" data-aos="fade-up" data-aos-delay="100">
            <img src="/static/images/partners/undp.png" alt="" style="width:auto; height:150px;">
          </div>
          <div class="col-lg-3 col-md-6 icon-box text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="/static/images/partners/servir-mekong.png" alt="" style="width:100%; margin-top:30px;">
          </div>
        </div>

      </div>
    </section> {% endcomment %}

    <section class="method-lists">
      <div class="container">
        <div class="col-lg-12 col-md-6">
          <h1>{% trans 'OUR TEAM' %}</h1>
        </div>

        <div class="col-lg-12 col-md-6">
          <div class="row member">
            
              <div class="column">
                <div class="card">
                  <img src="/static/images/members/ivan.jpg" alt="ivan" style="width:100%">
                  <div class="container text-center">
                    <h2 class="title-eng">Dr. Iván González de Alba</h2>
                    <p class="title">Country Economist</p>
                    <p class="title">UNDP Cambodia</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <a style="margin-right:15px;" href="mailto:ivan.gonzalezdealba@undp.org" role="button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a style="margin-right:15px;" href="https://www.linkedin.com/in/iv%C3%A1n-gonz%C3%A1lez-de-alba-75051652/?originalSubdomain=pa" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="card">
                  <img src="/static/images/members/theara.jpg" alt="Theara" style="width:100%">
                  <div class="container text-center">
                    <h2 class="title-eng">Theara Khoun</h2>
                    <p class="title">Socio-Economic Policy Specialist</p>
                    <p class="title">UNDP Cambodia</p>
                    <a style="margin-right:15px;" href="mailto:theara.khoun@undp.org" role="button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a style="margin-right:15px;" href="https://www.linkedin.com/in/theara-khoun-8660b924/overlay/contact-info/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="card">
                  <img src="/static/images/members/buoy.jpg" alt="ATE" style="width:100%">
                  <div class="container text-center">
                    <h2 class="title-eng">Mr. Buoy Somethea</h2>
                    <p class="title">Director of the Statistical Information Services Department</p>
                    <p class="title">National Institute of Statistics, Ministry  of Planning</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
                    <a style="margin-right:15px;" href="mailto:bsomethea@gmail.com" role="button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>


              <div class="column">
                <div class="card">
                  <img src="/static/images/members/pheav.jpg" alt="nyien" style="width:100%">
                  <div class="container text-center">
                    <h2 class="title-eng">Mr. Chao Pheav</h2>
                    <p class="title">Director of Data management Application development and Technology Department</p>
                    <p class="title">National Institute of Statistics, Ministry  of Planning</p>
                    <a style="margin-right:15px;" href="mailto:chaopheav@gmail.com" role="button"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </section><!-- End About Lists Section -->

<hr>

    <section class="method-lists">
      <div class="container">
        <div class="col-lg-12 col-md-6">
          <h1>{% trans 'CONTACT US' %}</h1>
        </div>
      <div class="row no-gutters">
          <div class="col-lg-6 col-md-6">
            <p>
              <b>UNDP Cambodia</b> <br>
              53, Pasteur Street, Boeung Keng Kang <br>
              P.O. Box 877, Phnom Penh, Cambodia<br>
              <strong>E-mail (General)</strong> registry.kh@undp.org<br>
              <!-- <strong>(Media Related): </strong> communications.kh@undp.org<br>
              <strong>Website: </strong> <a href="www.undp.org/cambodia">www.undp.org/cambodia</a><br> -->
            </p>

          </div>
          <div class="col-lg-6 col-md-6">

            <p><b>For General Inquiries:</b></p>
            <p>Dr. Iván González de Alba (ivan.gonzalezdealba@undp.org )</p>
            <p>Theara Khoun (theara.khoun@undp.org ) </p>

            <br>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 col-md-6">
            <p>
              <b>National Institute of Statistics (NIS)</b> <br />
              Ministry of Planning, Royal Government of Cambodia<br />
              <strong>Email:</strong> info@nis.gov.kh<br />
              <strong>Tel:</strong> 855-23-219922; 855-23-219921<br />
            </p>

          </div>
          
        </div>
      </div>
    </section>
    {% endblock %}
