{% extends 'base.html'%}
{% load i18n %}

    {% block body%}
    <!-- ======= homeimg Section ======= -->
    <section id="branding" class="image">
      <div class="overlay">
        <div class="">
          <h2 class="animated fadeInDown">{% trans 'METHODOLOGY' %}</h2>
        </div>
      </div>
    </section><!-- End homeimg -->

    <main id="main">

      <section class="method-lists">
        <div class="container">
          <div class="col-lg-12 col-md-6">
            <h1>{% trans 'METHODOLOGY' %}</h1>
          </div>

          <div class="row no-gutters">
            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
              <p>{% trans 'Big data has the ability to revolutionize the humanitarian sector. Accurate and timely information has traditionally been a main constraint in disaster risk preparation and is of paramount importance to meet the Sustainable Development Goals (SDGs)' %}
                {% comment %} <b style="color: rgb(4 104 177);">Sustainable Development Goals (SDGs)</b>. {% endcomment %}
              </p>
              <p>{% trans 'Geo spatial information can play an important role in achieving sustainable development and reducing vulnerabilities and deprivations by mapping different dimensions of vulnerability across space and time. ' %}</p>

              <p>{% trans 'In this study Big Earth data were translated into indicators using the data from the Cambodia Socio-Economic Survey. The indicators were then translated into dimensions which add up an overall vulnerability.' %}</p>
            </div>
            <div class="col-lg-6" style="padding:20px;">
              <div class="col-lg-12 col-md-6 method-flowchart text-center">
                <img src="/static/images/method/sdg.jpg" alt="Poverty mapping methodology">
                <p>{% trans 'The 17 sustainable development goals.' %}</p>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- <section class="method-lists">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-12 d-flex flex-column justify-content-center about-content">
              <p>The figure below shows how big earth data were translated into indicators, dimensions and finally into an overall vulnerability index. </p>
              <img src="/static/images/method/bigData.jpg" alt="Poverty mapping methodology" style="width: 90%; text-align:center;">
            </div>
          </div>
        </div>
      </section> -->


      <section class="method-lists">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
              <p>{% trans 'method-paragraph-4' %} </p>

              <p>{% trans 'method-paragraph-5' %}</p>
                <img src="/static/images/method/location_buildings.png" alt="Poverty mapping variable importance">
                <br>
              <p>{% trans 'method-paragraph-6' %}</p>
              <img src="/static/images/method/number_deprivations.jpg" alt="Poverty mapping variable importance">
            </div>
            <div class="col-lg-6 d-flex flex-column " style="padding:20px;">
              <p><b>FIG. 1</b> {% trans 'The variable importance of the different indicators' %} </p>
              <img src="/static/images/method/variable_importance.jpg" alt="Poverty mapping variable importance">
            </div>
          </div>

        </div>
      </section>


      <!-- <section id="about" class="about portfolio">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
              <div class="section-title">
                <h2>TECHNOLOGY PLATFORM</h2>
                <p>
                  SERVIR-Mekong uses Google Earth Engine as their cloud based geocomputational
                  platform. Through their partnership with Google, SERVIR-Mekong has privileged access
                  to computational resources and is an early adopter of new functionalities and features.
                  Earth Engine is a platform that enables users to store and manipulate data in the cloud.
                  The geocomputational platform allows users to perform big data analytics using parallel
                  processing. We have extensive experience using the GEE cloud computing platform.
                  SIG, as part of SERVIR Mekong, has an outstanding record of high impact
                  peer-reviewed publications on using cloud based satellite image processing and
                  machine learning. Examples include a yearly land cover map that was created for the
                  larger Mekong area using machine learning and satellite imagery.
                </p>
              </div>
            </div>
            <div class="col-lg-6" style="padding:20px;">
              <div class="row portfolio-container">
                <div class="col-lg-12 col-md-6 text-center">
                    <img src="/static/images/method/GEE.jpg" class="img-fluid" alt="" width="70%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- <section class="method-lists">
        <div class="container">
          <div class="col-lg-12 col-md-6">
            <h1 style="margin-bottom:0;">INPUT DATA SOURCES</h1>
          </div>
        </div>
      </section>

      <section id="homeimg">
        <div class="homeimg-container">
          <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators" id="homeimg-carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active" style="background-image: url('/static/images/slide/poverty-cambodia.jpg');">
                <div class="carousel-container">
                  <div class="carousel-content container text-center">
                    <h2 class="animated fadeInDown">Satellite Imagery</h2>
                    <p class="animated fadeInUp">Satellite imagery is a very rich and reliable source of information as it is collected on a
                    regular time interval. Information that can be derived from satellite imagery includes
                    nighttime light, land cover, population density, but also information on infrastructure and
                    temporal change dynamics. We bring a robust set of cloud based satellite data
                    processing skills using freely available data. Examples of freely available data are the
                    Landsat Legacy dataset providing over three decades of data at a 30 meter spatial
                    resolution. The Copernicus satellite program provides data for the last 6 years with a
                    higher spatial and temporal resolution. Moreover, recently high resolution commercial
                    data from Planet Labs has become available for all tropical regions through Norway's
                    International Climate and Forests Initiative (NICFI). SERVIR-Mekong also has a large
                    dataset of satellite derived products such as land cover, deforestation, tree cover, floods
                    etc."</p>

                  </div>
                </div>
              </div>

              <div class="carousel-item" style="background-image: url('/static/images/slide/poverty-cambodia.jpg');">
                <div class="carousel-container">
                  <div class="carousel-content container text-center">
                    <h2 class="animated fadeInDown">GIS LAYERS</h2>
                    <p class="animated fadeInUp">"Geospatial data information layers are a key input for vulnerability mapping. For
                    example, information layers on distances to schools, hospitals, roads, and markets are
                    key in determining accessibility. SERVIR Mekong has an extensive collection of GIS
                    data and a robust toolset to ingest and process GIS information.
                    " </p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" style="background-image: url('/static/images/slide/poverty-cambodia.jpg');">
                <div class="carousel-container">
                  <div class="carousel-content container text-center">
                    <h2 class="animated fadeInDown">Social Networks and IOT</h2>
                    <p class="animated fadeInUp">"Today, the world is connected through diverse communication networks. Social media
                      big data sources, especially Twitter and Facebook, generate over 400 million tweets
                      and 4 petabytes of data per day respectively. From these data useful information can be
                      extracted by using data analytic methods. Most of the data retrieved from social
                      networks is text, which can be analyzed efficiently using text mining techniques. The
                      Internet of Things (IoT) represents the network of electronics and computer science
                      systems which are embedded with sensors. More and more software and other
                      technologies are connected to collect data in real time and transferred through a
                      wireless sensor network. This technology brings opportunities to enhance the way we
                      capture information, improving accuracy and understanding.
                      "</p>
                  </div>
                </div>
              </div>

              <div class="carousel-item" style="background-image: url('/static/images/slide/poverty-cambodia.jpg');">
                <div class="carousel-container">
                  <div class="carousel-content container text-center">
                    <h2 class="animated fadeInDown">Miscellaneous Data</h2>
                    <p class="animated fadeInUp">"Miscellaneous data are other data sources aside from Earth observation. These include
                      IoT and Social Networks and data from institutions, governments, National Government
                      Organizations (NGOs), bank institutions, private sectors etc. For example, vulnerability
                      data from the World Bank Open Data and the Asian Development Bank, or census
                      based income data could be employed. Data is often based on prevalence estimates
                      and relies on national averages.
                      "</p>
                  </div>
                </div>
              </div>
            </div>

            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>
        </div>
      </section> -->

      <section class="method-lists">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-lg-12 d-flex flex-column justify-content-center about-content">
              <p>The dimensions, indicators and definitions of vulnerability.</p>

                <div class="poverty-table">
              <table>
               <tbody>
                 <tr>
                   <th>Dimension</th>
                   <th>Indicator</th>
                   <th>Definition</th>
                   <th>Weight</th>
                 </tr>

                 <tr>
                   <td style="font-weight: 700;" rowspan="2">Education</td>
                   <td>Educational Attainment</td>
                   <td>No member of the household aged 12 years old and older who has completed at least siz year of schooling.</td>
                   <td>1/10</td>
                 </tr>

                 <tr>
                   <td>School Attendance</td>
                   <td>At least one child age 6-14 years old as a household member is not currently attending to school.</td>
                   <td>1/10</td>
                 </tr>

                 <tr>
                   <td style="font-weight: 700;" rowspan="5">Health</td>
                   <td>Food consumption score</td>
                   <td>Household has Food Consumption Score (FCS) lower than 38.5 during the past week.</td>
                   <td>1/25</td>
                 </tr>

                 <tr>
                   <td>Access to health care</td>
                   <td>At least one household member was sick/ill and did not access to health care services in the last 30 days.</td>
                   <td>1/25</td>
                 </tr>

                 <tr>
                   <td>Access to clean water</td>
                   <td>Main source of drinking water is not safe or 30 minutes or longer walk from home (round trip).</td>
                   <td>1/25</td>
                 </tr>

                 <tr>
                   <td>Access to sanitation</td>
                   <td>Household has unimproved or no sanitation facility of it shares the improved sanitation facility with other households.</td>
                   <td>1/25</td>
                 </tr>

                 <tr>
                   <td>Hand Washing</td>
                   <td>There is no observed place of hand washing or soap and water are not observed at an observed place of hand washing.</td>
                   <td>1/25</td>
                 </tr>

                 <tr>
                   <td style="font-weight: 700;" rowspan="6">Living standard</td>
                   <td>Overcrowding</td>
                   <td>A room is shared with more than 4 people</td>
                   <td>1/30</td>
                 </tr>

                 <tr>
                   <td>Housing materials</td>
                   <td>The naterials of the roof, walls or floors are non-improved (natural or rustic materials).</td>
                   <td>1/30</td>
                 </tr>

                 <tr>
                   <td>Cooking fuel</td>
                   <td>The main source of cooking fuel is natural product (charcoal or wood).</td>
                   <td>1/30</td>
                 </tr>
                 <tr>
                   <td>Access to electricity</td>
                   <td>The household has no access electricity (sources from public electrical grid).</td>
                   <td>1/30</td>
                 </tr>

                 <tr>
                   <td>Assets</td>
                   <td>The household does not own more than two of these assets, radio TV, telephone, computer, refrigerator animal cart, bicycle, motorbike, or machine boat, and does not own car or truck.</td>
                   <td>1/30</td>
                 </tr>

                 <tr>
                   <td>Livinhood based on coping strategies</td>
                   <td>During the past 30 days any household's member has to engage in any of the following activities bacause there was not enough food or lack of money to buy food.</td>
                   <td>1/30</td>
                 </tr>

                 <tr>
                   <td style="font-weight: 700;" rowspan="2">Employment</td>
                   <td>Unemployment</td>
                   <td>At least one labor force (aged 15-40 years old) is unemployed.</td>
                   <td>1/10</td>
                 </tr>

                 <tr>
                   <td>Underemployment</td>
                   <td>At least one labor force person (aged 15-64 years old), who is currently working does not work full time and would like to work more hours.</td>
                   <td>1/10</td>
                 </tr>

                 <tr>
                   <td style="font-weight: 700;">Monetary</td>
                   <td>Consumption and Expenditure</td>
                   <td>Consumption and expenditure are lower than national poverty line.</td>
                   <td>1/5</td>
                 </tr>
               </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    {% endblock %}

